*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-color:  rgb(24, 47, 101);
    height: 600px;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
ul{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 70px;
}
li{
    list-style: none;
}
a{  
    font-weight: bold;
    color: rgb(0, 205, 219);
    text-decoration: none;
    transition: 0.3s ease-in;
}
a:hover{
    border-bottom: 1px solid white;
    color:white ;
}
.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    margin: auto;
}
img{
    height: 500px;
    width: 300px;
    /* border-radius: 50%;
    object-fit: cover; */
}
.text{
    margin-top: 80px;
    margin-right: 30px;
    
}
.text h1{
    font-weight: bold;
    font-size: 70px;
    margin-top: 20px;
    font-family: sans-serif;
    color: white;
}
.text h3{
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
span{
    color: rgb(11, 194, 207);
}
.text p{
    /* font-weight: bold; */
    font-family: sans-serif;
    margin-top: 30px;
    color: white;
    font-size: 15px;
}

.card-img-top{
    height: 200px;
}
